{
    "extends": "netsells",
    "globals": {
        "describe": true,
        "afterAll": true,
        "beforeAll": true,
        "expect": true,
        "test": true
    },
    "rules": {
        "no-console": 0
    }
}